.votacao{
    width: 85%;
    margin-left: 15%;
    border: solid 2px yellow;
    display: flex;
    flex-direction: column;
}

.votacao .personagens_fav{
    width: 100%;
    display: flex;
    flex-direction: row;
}

.personagens_fav .vote{
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: center;
    justify-content: center;
    color: white;
    border-right: solid 2px white;
}

.personagens_fav .grafico_personagens{
    display: flex;
    align-items: center;
    justify-content: center;
    widows: 50%;
}
