.conteudo_quiz{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

.conteudo_quiz .quiz{
    margin-top: 10%;
    display: flex;
    width: 45%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    margin-left: 5%;
    background-color: gray;
    border: solid 2px #FFC700;
}

.conteudo_quiz #quiz{
    padding-top: 10%;
    margin-bottom: 2%;
    display: flex;
    width: 60%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    background-color: gray;
}

#resultado {
    margin-top: 5%;
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    background-color: gray;
}

#resultado .qtd_perguntas{
    width: 50%;
    border: solid 2px black;    
}

#resultado .fechar{
    width: 20%;
    font-weight: bold;
    background-color: #FFC700; 
    margin-top: 10%;
    margin-bottom: 2%;
    border-radius: 5px;
    cursor: pointer;
}

.quiz h1{
    color: #FFC700;
    font-weight: bold;
}

.quiz #question{
    color: white;
    font-size: 15px;
    margin-bottom: 2%;
    margin-top: 5%;
}

.quiz #options{
    color: white;
    margin-top: 2%;
    margin-bottom: 2%;
    font-size: 15px;
}

.quiz button{
    width: 45%;
    padding-top: 2%;
    padding-bottom: 2%;
    font-weight: bold;
    background-color: #FFC700; 
    margin-top: 5%;
    margin-bottom: 2%;
    border-radius: 5px;
    cursor: pointer;
}