.conteudo{
    display: flex;
    flex-direction: column;
}

.avaliacao{
    width: 100%;
    display: flex;
    flex-direction: row;
}


.avaliar{
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-left: 5%;
    border-right: solid 2px white;
}


.frase {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 3%;
    color: #FFC700;
    margin-bottom: 5%;
}

.star {
    cursor: pointer;
  }
  .rated {
    color: orange;
  }
  

.avaliar button{
    border: none;
    border-radius: 5px;
    background-color: #FFC700;
    margin-bottom: 5%;
    margin-top: 5%;
    width: 15%;
    cursor: pointer;
}

.grafico{
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.grafico_serie{
    width: 100%;
    margin-top: 5%;
    margin-right: 2%;
}
.notas_avaliacao{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #FFC700;
}

.notas_avaliacao .num_qtd{
    font-size: 12px;
}

.notas_avaliacao .num {
    font-size: 30px;
    font-weight: bold;
}


.home{
    display: flex;
    flex-direction: row;
    width: 100%;
}



.home .metacritic{
    display: flex;
    flex-direction: column;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-top: 5%;
    margin-left: 10%;
    margin-bottom: 5%;
    color: wheat;
    width: 35%;
}

.home .rotten{
    display: flex;
    flex-direction: column;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-top: 5%;
    margin-left: 8%;
    margin-bottom: 5%;
    color: wheat;
    width: 40%;
}

.metacritic img {
    width: 10%;
}

.rotten img {
    width: 8%;
}

.metacritic .divisoria {
    border-bottom: solid 2px white;
    padding-bottom: 4%;
    padding-top: 3%;
    display: flex;
}

.rotten .divisoria {
    border-bottom: solid 2px white;
    padding-bottom: 4%;
    padding-top: 3%;
    display: flex;
}

.divisoria .nota{
    border: 2px solid black;
    margin-left: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10%;
    padding-left: 5%;
    padding-right: 5%;
    font-size: 25px;
    font-weight: bold;
    background-color: green;
}

.nota_tomatoes img{
    width: 40%;
}

.divisoria .nota2{
    border: 2px solid black;
    margin-left: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    padding: 3%;
    font-size: 25px;
    background-color: green;
    font-weight: bold;
}

.nota2_tomatoes img{
    width: 40%;
}
.divisoria .nota_tomatoes{
    margin-left: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    padding: 3%;
    font-size: 25px;
    font-weight: bold;
}

.divisoria .nota2_tomatoes{
    margin-left: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    padding: 3%;
    font-size: 25px;
    font-weight: bold;
}

.metacritic .nome{
    font-size: 25px;
    padding-bottom: 3%;
    border-bottom: solid 2px white;
    display: flex;
    align-items: center;
}

.metacritic .titulo{
    font-size: 15px;
    width: 60%;
    text-align: justify;
}

.rotten .nome{
    font-size: 25px;
    padding-bottom: 3%;
    border-bottom: solid 2px white;
    display: flex;
    align-items: center;
}

.rotten .titulo{
    font-size: 15px;
    width: 60%;
    text-align: justify;
}

.classificacao{
    display: flex;
    align-items: center;
}
.classificacao img{
    width: 10%;
}

.classificacao span{
    font-size: 20px;
    
    font-weight: bold;
}